.DS_Store
/sounds/
*.mlmodel
*.mlmodelc
*.mlpackage
/.build
/Packages
xcuserdata/
DerivedData/
.vscode/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
